Source: ros-hydro-descartes
Section: misc
Priority: extra
Maintainer: Shaun Edwards <sedwards@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://wiki.ros.org/descartes_moveit
Standards-Version: 3.9.2

Package: ros-hydro-descartes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-descartes-core, ros-hydro-descartes-moveit, ros-hydro-descartes-planner, ros-hydro-descartes-trajectory
Description: Descartes is a ROS-Industrial project for performing path-planning on under-defined Cartesian trajectories. More details regarding motivation can be found in rep-I0003.rst.
